/* second opinion mobile detailed */

.container {
  padding: 1.5rem;
}

.divider {
  height: 10px;
  background-color: #f2f5ff;
}
.top {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.top div {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.reportimagesection {
  margin-top: 3rem;
}
.images {
  margin-top: 1rem;
  height: 300px;
  display: flex;
  overflow: auto;
  /* border: 1px solid blue; */
}
.images img{
object-fit: contain;
height: 100%;
width: 100%;
}

.download button {
  margin-top: 2rem;
  background-color: #7e83ff;
  color: white;
  border-radius: 20px;
  padding: 1rem 3rem;
  width: 200px;
  cursor: pointer;
}

.remarks {
  margin-top: 2rem;
}

.heading {
  
}

.remarkdata {
  margin-top: 2rem;
  font-weight: 400;
}
