.top {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 100%;
  height: 50px;
}

.top div:first-of-type {
  width: 90%;
}

.top div:nth-of-type(2) {
  /* border: 1px solid red; */
  width: 50px;
  height: 100%;
}

.blogsection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.addquery {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
.addquery button {
    height: 100%;
    background-color: #3A65FD;
    border-radius: 50px;
    color: white;
    padding: 1rem 5rem;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
  }
  
  /* Add hover effect */
  .addquery button:active {
    background-color: #2645b6; /* Darken color slightly on hover */
    cursor: pointer;
  }
  
  /* Add active (click) effect */
  .addquery button:active {
    transform: scale(0.95); /* Slightly scale down on click */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow on click */
  }


  /* add query modal mobile */






  .addquerymobmodal{
    width:90%;
    background-color:white;
    border-radius: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
}


  .addmobquerybtn button{
    background-color: #3A65FD; 
    color:white;  
    height:48px;
    width:100%;  
    border-radius:50px;
    margin-top:14px; 
    -webkit-tap-highlight-color: transparent;                                                             
 }
 .addmobquerybtn button:active {
    transform: scale(0.98); /* Slightly reduce size for a "pressed" effect */
    background-color: #2645b6; /* Change to a lighter color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    transition: all 0.1s ease; /* Smooth transition */
}

.addquerymobmodal h4{
    font-size: 16px;
    font-weight: 700;
    margin:12px 0px 8px 14px;
}


  .addquerymobmodal select{
    border-radius:50px;
    width:100%;
    background-color: #EEF1FF;
    height:50px;
    width:100%;
    padding:0px 15px;
    font-weight:600;
    border:1px solid white;
    margin-top:10px;
    color: rgb(73, 73, 73);
}

.addquerymobmodal textarea{
    width:100%;
    background-color: #EEF1FF;
    padding:15px;
    margin-top:10px;
    border-radius:20px;
    height:200px;
    color: rgb(73, 73, 73);
    font-weight:600;
    resize:none;
}


  .addquerymobmodal textarea::placeholder{
    font-weight:600;
    color: rgb(73, 73, 73);
}

.addquerymobmodal h3{
    font-weight: 700;
}


.addmobquerybtn button:first-of-type {
    width: 100px;
    margin-right:6px;
    padding:0px 20px;
    color:#dc2626;
    background-color: white;
    border:1px solid #dc2626; 
}

