.adpha-topcontainer {
    display: flex;
    justify-content: space-between; /* Distribute space between the items */
    align-items: center; /* Center items vertically */
    margin-top:20px;
  }
  
  .adpha-left {
    display: flex;
    align-items: center;
  }
  .adpha-back-button{
    height:35px;
    width:35px;
    border-radius:50px;
    background-color:#DADCFF;
  }
  .adpha-save-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0px 16px;
    height:35px;
    cursor: pointer;
  }
  
  .adpha-back-button:hover, .adpha-save-button:hover {
    background-color: #0056b3;
  }
  
  .adpha-title {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
 
  .adpha-seccontainer{
    gap:50px;
    margin-top:20px;

  }

  
  .adpha-seccontainer h4{
    font-weight: 600;
  }

  .adpha-thirdcontainer h4{
    font-weight: 600;
    margin-top:20px;
  }


  .adpha-seccontainer h2{
    font-weight:300;
   
  }

  .adpha-thirdcontainer-images{
    margin-top:10px;
    gap:20px;
  }

  .adpha-thirdcontainer-images img{
      height:300px;
      width:240px; /* changed from 240 */      
      object-fit: cover;
      border:1px solid #7E83FF;
      border-radius: 10px;
  }

  .adpha-thirdcontainer-button{
    background-color: #7E83FF;
    padding:0px 16px;
    height:35px;
    color:white;
    font-weight: 300;
    border-radius:3px;
    margin-top: 5px;
  }

  .adpha-remarks-para{
    width:70%;
  }
.adpha-remarks{
  margin-top:20px;
}

.adpha-orders{
  margin-top:20px;
}

/* Order */


.admin-order-section {
  margin-top:2vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 equal columns */
  gap:25px; /* space between the cards */
  width: 100%; /* make the section 100% width */
}

.product-card {
  background-color: #f0f0f0; /* example background */
  padding: 20px;
  text-align: center;
}


.admin-pharmacyshopproduct{
background-color:#f3f3f8;
padding:12px 20px;
border-radius: 8px;
justify-content:space-between;
align-items: center;
}
.web-pharmacyshopproduct:hover{
box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.adminpharmacyshopproductimg{
height:100px;
width: 100%;
align-items: center;
overflow: hidden;
img{
    max-width:100%;
    max-height:90%;
}
}


.adminpharmacyshopproducttitle{
justify-content: center;
text-align: center;
align-items: center;
height:5vw;
h4{
    line-height:20px;
    font-size:14px;
}
}

.pharmacyshopcate{
justify-content: space-between;
margin-bottom:15px;
}


/* second_op */

.second-opinion-discription-new textarea{
  width: 100%;
  height: 150px;
  background-color: #DADCFF;
  border-radius:8px;
  margin-top:10px;
  padding:10px;
  resize:none;
  text-align: justify;
}


.second-opiniondt-save-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0px 16px;
  height:35px;
  cursor: pointer;
}

.second-opiniondt-save-button:hover, .second-opiniondt-save-button:hover {
  background-color: #0056b3;
}




/* Buttons */

.assignbutton {
  height: 40px;
  background-color: #7e83ff;
  color: white;
  border-radius: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width:120px
}

.afterassignbutton {
  background-color: #dfdfdf;
  color: rgb(88, 88, 88);
}

/*End Buttons */

.toptitlepharmacy {
  justify-content: space-between;
  margin-bottom: 22px;
}

.toptitlepharmacy button {
  background-color: #3a974c;
  color: white;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: 600;
}

.secondtitleparma {
  font-weight: 700;
  font-size: 18px;
}

.toporderditems {
  min-height: 100px;
  margin-bottom: 20px;
}

.mainorderdetails {
  padding: 20px;
  background-color: rgb(248, 249, 254);
  border-radius: 20px;
  margin-top: 20px;
}

.maincolorpadding {
  background-color: #f8f9fd;
  border: 0.5px solid rgb(226, 239, 255);
  border-radius: 16px;
  padding: 16px 26px;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  box-shadow: rgba(99, 92, 143, 0.1) 0px 48px 100px 0px;

  border: 1px solid #e7e7f1;

  background-color: white;
  box-shadow: 0 6px 12px rgba(30, 10, 58, 0.04);
}

.statusmain {
  background-color: #e6efe9;
  color: #3a974c;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 50px;
}

.noassign {
  background-color: rgb(248, 249, 254);
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-top: 10px;
  border-radius: 10px;
}

.noassign span {
  font-size: 16px;
  font-weight: 600;
  color: #9b9b9b;
}

.toporderditemstit {
  justify-content: space-between;
}

.toporderditemstitle {
  justify-content: space-between;
}

.ordersecondsec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 16px;
  margin-bottom: 20px;
}
.ordersecondsecleft {
  min-height: 400px;
}

.ordersecondsecright {
}

.assignpharmacy {
  min-height: 140px;
  margin-bottom: 20px;
}

.assigndelivery {
  min-height: 140px;
}

.billeditems {
  min-height: 100px;
}

/* Assign Pharmacy */

.assignpharmacydata {
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.lablo {
  color: #3a974c;
}

/* Assign Pharmacy */

/* delivery recomentation */

.deliverymanrec {
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.deliverymanrecleft {
  align-items: center;
}

.deliverymanrecleft img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
}

/*End delivery recomentation */

/* Customer Details */

.customerdatas {
  justify-content: space-between;
  margin: 16px 0px;
}

.customerdatas h3 {
  font-size: 17px;
}

.customerdataspara {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0px;
  color: #474747;
}

/* Table */

/* Table Styles */
.orderdetails-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
}

.orderdetails-thead,
.orderdetails-tbody {
  text-align: center;
}

.orderdetails-header,
.orderdetails-data,
.orderdetails-id-column {
  font-size: 16px;
  font-weight: 500;

  padding: 8px;
}

.orderdetails-data {
  color: #474747;
}

.orderdetails-header {
  font-weight: bold;
  font-size: 16px;
}

.orderdetails-data-attachment {
  text-align: left;
  cursor: pointer;
}

/* Custom width for Order ID column */
.orderdetails-id-column {
  width: 15%;
  text-align: left;
  font-size: 16px;
}

.deliverymob {
  margin-top: 5px;
  color: #474747;
}

.billeddetails-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
}

.billeddetails-table-head {
  font-size: 16px;
  text-align: left;
}

.billeddetails-table-body {
  font-size: 16px;
  color: #474747;
  font-weight: 500;
}

.billeddetails-table-body td {
  padding:10px 0px;
}