.container {
}
.inputContainer input {
  background-color: #587eff;
  height: 39px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.specialityContainer{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
    flex: 1;
    overflow-x: auto;
}
