.main {
  height: 80px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: white;
  /* border:1px solid #3a65fd; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.tab {
  /* border: 1px solid red; */
  width: 25%;
  display: flex;
  gap: 4px;
  justify-content: center;
  flex-direction: column;
  align-items: center;


}

.tabtext {
  color: black;
  font-size: 12px;
}

.active {

  .tabtext {
    color: #3a65fd;
  }
  .roundtab {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f2f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 600ms ease-in-out ;
  }
  i{
    color: #3a65fd;
    font-size: 16px;
    height: 16px;
  }
}

.inactive {
  color: #686868;
  .tabtext{
    color: black;
  }
  .roundtab {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  i{
    font-size: 20px;
    height: 20px;
    color: #434343;
  }
}

.main i{
  font-weight: 100;
  transition: transform 5s ease-in-out;
}
