/* .hospitalname_input {
    margin-top: 1vw;
} */

.pass-con-Inp {
    margin-top: 11vw;
}

.register-right-section div {
    margin-top: 1vw;
}

#hosPagefile {
    width: 18vw;
    overflow: scroll;
}

@media screen and (max-width: 780px) {

    .hospitalname_input input {
        height: 9vw;
    }

    #hosPagefile {
        width: 100%;
        overflow: scroll;
    }

    .new {
        height: 10vw;
    }

}