.hospital_admin_details_image2 img{
    height:14vw;
    width: 14vw;
    object-fit: cover;
    border-radius:1vw;
}

.hospital_admin_details_section2{
    gap: 2vw;
    margin-top:3vw;
}

.hospital_admin_details_data2 h4{
    margin-top:1.3vw;
}

.hospital-right-admin2{
    flex-direction: column;
    justify-content: space-between;
}

.hospital_admin_details_contact2{
    gap: 2vw;
    margin-bottom:.4vw;
}

.hospital_admin_details_contact2 h4{
    background-color:#3A65FD;
    width:fit-content;
    color: white;
    border-radius:.4vw;
    padding: .4vw 1vw;
}


.hospital_admin_details_sectionmain{
    flex-direction: column;
    height:99%;
    justify-content: space-between;
}



.hospital_admin_time_section{
    height:10vw;
    background-color: #3A65FD;
    width:100%;
    padding:2vw;
    border-radius:1vw;
}

.hospital_admin_data_section{
    justify-content: space-between;
}

.hospital_admin_data_section_button{
    justify-content: flex-end;
}

.hospital_admin_data_section_button h4{
  background-color: #3A65FD;
  color: white;
  padding:0.3vw 2vw;
  border-radius:.5vw;
}

.hospital_admin_data_section2{
    width:19vw;
}
