.container {
    border-radius: 10px;
    position: relative; /* Ensure the container is positioned relative */
  }
  
  .container img {
    height: 263px;
    width: 159px;
    object-fit: cover; /* Maintains aspect ratio and covers the container */
    border-radius: 10px;
  }
  
  .glassEffect {
    position: absolute;
    top: 84.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    /* height: 62px; */
    border-radius: 8px;
    background: white; /* Darker semi-transparent background */
    backdrop-filter: blur(10px);
    color: black;
    /* z-index: 1; */
    display: flex;
    gap: .1rem;
    align-items: left;
    flex-direction: column;
    padding: .5rem;
  }
  
  .glassEffect>span:nth-child(1) {
    /* border: 1px solid red; */
    text-align: left;
    color: white;
    font-weight: 500;
    font-family: "Poppins";
    font-size: 12px;
  }
  
  .glassEffect>span:nth-child(2) {
    text-align: left;
    color: #2aaf31;
    font-weight: 400;
    font-family: "Poppins";
    font-size: 11px;
  }
  