.main {
  display: flex;
  gap: 10px;
  height: 40px;
}
.container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* width: fit-content; */
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: transform 0.1s ease, background 0.3s ease;
}

.container:active {
  transform: scale(0.95);
}

.container:focus {
  outline: none; /* Remove default focus outline */
}

.active {
  background: #3a65fd;
  color: white;
  i {
    font-size: 18px;
    color: white;
  }
}
.inactive {
  color: #686868;
  background: #f2f5ff;
  i {
    font-size: 18px;
    color: #686868;
  }
}
.container span {
  font-size: 13px;
  font-weight: 500;
}
.whitecolor {
  color: white;
}
.graycolor {
  color: #999999;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon i {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.homebtn {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homebtn i {
  font-size: 14px;
  height: 16px;
}
