.divider {
  height: 10px;
  background-color: #f2f5ff;
}

.orderid {
  color: black;
  font-weight: 300;
}
.listcardprogress {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.progresscard {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 70px;
  height: 70px;
  position: relative;
}
.progressfilled {
  position: absolute;
  background-color: #3a65fd;
  width: 2px;
  height: 70px;
  top: 24px;
  z-index: -1;
}
.progressnotfilled {
  position: absolute;
  background-color: #606060;
  width: 2px;
  height: 70px;
  top: 24px;
  z-index: -1;
}

.tracks {
  /* display: flex; */
  margin-top: 20px;
}

.progresscarddate {
  text-align: center;
  position: absolute;
  right: -140px;
  top: -5px;
}

.productsection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  font-size: 14px;
}
.productimgcontainer {
  background-color: #f2f5ff;
  height: 70px;
  width: 70px;
  padding: 2rem;
  border-radius: 9px;
}

.productimgcontainer img {
  object-fit: cover;
}

.pricingsection {
  background-color: #f2f5ff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pricingdivider {
    height: 3px;
  background-color: #bdcbff99;
}
.listprice{
    display: flex;
    justify-content: space-between;
}
.totalprice{
    display: flex;
    justify-content: space-between;
    /* font-weight: 800; */
    color: black;
}

.address{
   margin-top: 10px; 
}