.adddoctor {
  display: flex;
  background-color: #3a65fd;
  height: 100vh;
  padding: 2vw;
  flex-direction: column;
  color: white;
  justify-content: space-between;
}

.adddoctor h1 {
  color: white;
}

.adddoctor_button {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
.adddoctor_button_cancel {
  font-size: 1.2rem;
  border: 1px solid white;
  background-color: #3a65fd;
  width: fit-content;
  padding: 0.5vw 3vw;
  border-radius: 0.5vw;
  color: white;
  margin-left: 2vw;
}
.adddoctor_button_submit {
  font-size: 1.2rem;
  border: 1px solid white;
  background-color: white;
  width: fit-content;
  padding: 0.5vw 3vw;
  border-radius: 0.5vw;
  color: #3a65fd;
  margin-left: 2vw;
}

.adddoctor_inputsection {
  display: flex;
  justify-content: space-between;
}

.adddoctor_inputsection1 {
  width: 30%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add_doctor_date-picker {
  width: 29vw;
  background: #f6f6f966;
  border-radius: 0.5vw;
}
.add_doctor_date-picker input {
  color: white;
  border: none;
  border-radius: 0.5vw;
}
.adddoctor_inputsection1_inputs {
  width: 100%;
  background-color: rgba(246, 246, 249, 0.4);
  border-radius: 0.5vw;
  width: 100%;
  height: 3vw;
  color: white;
  padding: 1vw;
  letter-spacing: 2px;
}
.hospital-admin-add-doctor-select {
  background-color: rgba(246, 246, 249, 0.4);
  border-radius: 5px;
  height: 3vw;
  color: white;
  padding: 1vw;
  letter-spacing: 2px;
  width: 100%;
}

.adddoctor_inputsection1 h2 {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 30px;
}

.adddoctor_inputsection1 textarea {
  height: 23.3vh;
  border-radius: 1vw;
  resize: none;
  width: 100%;
  /* margin-top:.5vw ; */
  background-color: rgba(246, 246, 249, 0.4);
  color: white;
  padding: 1vw;
  letter-spacing: 2px;
}

.demo h4 {
  border: 1px solid white;
  background-color: #3a65fd;
  color: white;
}
.upload_button {
  display: flex;
  align-items: center;
}

.upload_button h4 {
  display: flex;
  background-color: white;
  color: #3a65fd;
  padding: 0vw 2vw;
  border-radius: 0.5vw;
  margin-left: 1vw;
  height: 100%;
}

.upload_button2 {
  align-items: center;
}

.hos_add_doc_upload-images {
  display: flex;
  gap: 10px;
}
.hos-add-doc-select-file {
  display: flex;
  background-color: white;
  color: var(--color-primary);
  width: 10vw;
  height: 46px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

/* -----  Mobile screen ------ */

@media (max-width: 768px) {
  .adddoctor {
    background-color: #3a65fd;
    height: auto;
    gap: 30px;
    padding: 4vw;
    color: white;
  }
  .adddoctor_inputsection {
    /* border: 2px solid white; */
    flex-direction: column;
  }
  .adddoctor_inputsection1 {
    gap: 10px;
    height: auto;
    width: 100%;
  }
  .adddoctor_inputsection1_inputs {
    width: 100%;
    background-color: rgba(246, 246, 249, 0.4);
    border-radius: 5px;
    height: 40px;
    color: white;
    padding: 1vw;
    letter-spacing: 2px;
  }
  .hospital-admin-add-doctor-select {
    height: 40px;
  }
  .adddoctor_button_cancel,
  .adddoctor_button_submit {
    height: 3rem;
    width: 8rem;
    padding: 0.5vw 3vw;
    border-radius: 0.5vw;
  }

  .hos_add_doc_upload-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .upload_button {
    gap: 20px;
    flex-direction: row-reverse;
  }
  .upload_button h4 {
    height: 3rem;
    width: 8rem;
    padding: 0.5vw 3vw;
    border-radius: 0.5vw;
  }
  .hos-add-doc-select-file {
    display: flex;
    background-color: white;
    color: var(--color-primary);
    width: 30vw;
    height: 40px;
    border-radius:5px;
    align-items: center;
  }
  .add_doctor_date-picker {
    width: 100%;
    background: #f6f6f966;
    border-radius: 0.5vw;
  }
  

}
