.profile-container {
  background-color: #f3f3f8;
  /* max-width: 360px; */
  height: 100dvh;
  margin: 0 auto;
  padding: 20px;
}
.profilePageNew{
  height: calc(100dvh - 82px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bbkbtn{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card {
  background-color: #fff;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  h2 {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.71);

  }
}

.profile-img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}



.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.info-row {
  display: flex;
  justify-content: center;
  /* gap: 10px; */
  /* flex-wrap: wrap; */
}

.info-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
  color: rgba(66, 66, 66, 1);
  font-size: 14px;
  font-weight: 500;
}

.male-icon-wrap {
  background-color: #ff9800;
  color: white;
  font-weight: 400;
}

.male-icon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.age-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 20px;
}

.age-icon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.phone-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.email-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.id-icon {
  background-color: #3a65fd;
  color: white;
  /* padding: 5px 10px; */
  border-radius: 0px;
  font-weight: 200;
}
.profile-pincode {
  /* width: fit-content; */
  background-color: rgba(107, 140, 254, 0.37);
  color:  rgba(58, 101, 253, 1);
  /* padding: 5px 10px; */
  border-radius: 0px;
}

.actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.action-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #f0f0f5;
  i{
    /* color: red; */
    font-size: 20px;
  }
}

.action-icon {
  width: 20px;
  height: 20px;
}

.action-text-wrap {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}

.action-text {
  text-align: left;
  flex-grow: 1;
  font-size: 12px;
}

.arrow-icon {
  width: 7.78px;
  height: 12.73px;
}


/* profile section */
.mob_top_section{
  align-items: center;
  gap:20px;
  margin:20px 0px;
}
.mob_top_section_left img{
  height:80px;
  width: 80px;
  object-fit: cover;
  border-radius:50%;
  border: 1px solid #cfcdcd;
}
.mob_top_section_right h2{
  font-weight: 700;
  font-size:18px;
}
.mob_top_section_right span{
  color: #0D9554;
  font-size:13px;
}



.mob_profile_section button{
  background-color: #3A65FD;
  height: 50px;
  width:100%;
  border-radius: 50px;
  color: white;
}

.mob_profile_section_btns{
  margin-top: 10px;
  gap: 10px;
}

.mob-profile-nav{
  align-items: center;
  justify-content:space-between;
}

.mob-profile-nav-icon{
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color:#6688FE;
  background-color:#F2F5FF;
  border-radius:50px;
}

.mob-profile-nav-icon-data{
  align-items: center;
  gap:10px;
}

.mob-profile-nav-icon2{
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: #6A6E83;
}

.mob-profile-navs{
  flex-direction: column;
  gap:20px;
  margin:20px 0px;
}

.mob-profile-details h4{
  margin-bottom:10px;
  font-size:13px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);;
  
}

.mob-profile-details h4 i{
  font-size: 16px;
  color: #6688FE;
  margin-right:7px;
}


/*End Profile */





/* unlogin */
   
.unloginpage{
  height:calc(100dvh - 82px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.unloginpage img{
  width:250px;
}

.unloginpage button{
    background-color:black;
    color: white;
    padding:12px 26px;
    border-radius: 6px;
    margin-top:20px;
    width:300px;
}

.unloginpage h4{
  color:#777777;
  width:300px;
  margin-top: 4px;
}

.unloginpage h1{
 font-weight: 700;
 font-size:2.2rem;
 cursor:pointer;
}
