.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.container span {
  font-size: 1rem;
  font-weight: 400;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background: #eeecec;
  border-radius: 50%;
}

.imgContainer img{
    height: 38px;
    width: 38px;
}
